@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Düzenleme  Sayfası</h3>
</div>
@using (Html.BeginForm("EditService", "Service", FormMethod.Post))
{   <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hizmet Ekleme Sayfası</h4>

                <div class="form-group">
 
    @Html.HiddenFor(x => x.ServiceID)
    @Html.Label("Deneyim  Başlığı")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

  

    @Html.Label("Resim Yolu")
    @Html.TextBoxFor(x => x.ImageURl, new { @class = "form-control" })

    
    <br />
    <br />
    <button class="btn btn-succsess">Kaydet</button>

                </div>
            </div>
        </div>

    </div>
   
   
}

